<configuration>
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/movieland.log</file>
        <append>true</append>
        <rollingPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <totalSizeCap>50Mb</totalSizeCap>
            <maxFileSize>5Mb</maxFileSize>
            <fileNamePattern>log/archive/movieland-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="rollingFile" />
    </root>

</configuration>